POS_BOT_API_URL=http://127.0.0.1/marinero/pos_bot_api.php?action=web_incoming
POS_BOT_VERIFY_TOKEN=palweb_bot_verify
WA_SESSION_NAME=palweb-pos-bot
WA_AUTH_PATH=/var/www/marinero/wa_web_bridge/.wwebjs_auth
WA_CACHE_PATH=/var/www/marinero/wa_web_bridge/.wwebjs_cache
